.text-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f4f2ad;
    display: flex;
    align-items: center;
}

.text-box .icon {
    margin-right: 10px;
}

.text-box.info {
    border-color: #17a2b8;
    background-color: #d1ecf1;
}

.text-box.warning {
    border-color: #ffc107;
    background-color: #fff3cd;
}

.text-box.success {
    border-color: #28a745;
    background-color: #d4edda;
}

.text-box.danger {
    border-color: #dc3545;
    background-color: #f8d7da;
}


css
Copy code
details {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border: 0.5px solid #0878a8;
    border-radius: 5px;
    background-color: #6aafb8;
}

/* Стили для текста внутри collapsing box */
details summary {
    font-weight: bold; /* Жирный шрифт заголовка */
    cursor: pointer;   /* Изменение курсора при наведении на заголовок */
    padding: 10px;      /* Внутренние отступы вокруг текста заголовка */
    background-color: #ddd; /* Цвет фона заголовка */
}

details p {
    margin-top: 15px;  /* Внутренний отступ сверху для параграфов */
    margin-bottom: 10px; /* Внутренний отступ снизу для параграфов */
    padding: 20px;      /* Внутренние отступы вокруг текста внутри блока */
}


/* Общие стили для текстовых блоков */
.text-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.my-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #add8e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #0056b3;
}

.my-button:active {
    background-color: #0056b3;
    transform: translateY(1px);
}

.medium-img {
    width: 50%; /* Или любой другой процент или фиксированное значение, например, 300px */
    display: block;
    margin: 0 auto; /* Центрирование изображения */
}

/* Стили для уменьшенного изображения */
.medium-img {
    width: 100px; /* или любой другой размер */
    cursor: pointer; /* Указатель показывает, что изображение кликабельно */
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 300px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.warning {
    background-color: #ffc107; /* Цвет фона для предупреждений */
    color: #856404; /* Цвет текста для предупреждений */
    border-color: #ffc107; /* Цвет границы для предупреждений */
}

.info {
    background-color: #cce5ff; /* Цвет фона для информационных блоков */
    color: #004085; /* Цвет текста для информационных блоков */
    border-color: #b8daff; /* Цвет границы для информационных блоков */
}

/* Стили для всплывающей подсказки */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .text-box {
            background-color: #<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .text-box {
            background-color: ##BFC9CA; /* Цвет фона текстового блока */
            color: #333; /* Цвет текста в текстовом блоке */
            padding: 10px; /* Поля вокруг текста */
            border: 1px solid #ccc; /* Граница текстового блока */
            border-radius: 5px; /* Закругление углов */
        }
    </style>
    <title>Styled Text Box Example</title>
</head>
<body>; /* Цвет фона текстового блока */
            color: #333; /* Цвет текста в текстовом блоке */
            padding: 10px; /* Поля вокруг текста */
            border: 1px solid #ccc; /* Граница текстового блока */
            border-radius: 5px; /* Закругление углов */
        }
    </style>
    <title>Styled Text Box Example</title>
</head>
<body>